body {
    font-family: 'Inter', sans-serif;
}

.site-logo {
    width: 80px;
    margin-top: 16px;
}

.site-heading {
    margin-top: 0;
}

.main {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
}

.left-section {
    width: 20%;
    float: left;
    padding-right: 10px;
}

.right-section {
    width: 80%;
    float: right;
    padding-left: 10px;
}

.welcome-text {
    font-size: 32px;
}

.nav-links {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

#navbar a {
    text-decoration: none;
    padding: 4px 0;
}